body {
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  font-weight: 500;
  letter-spacing: -0.015em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
span,
a,
button,
div,
label,
input {
  font-size: 16px;
}
