.react-datepicker {
  width: 100%;
  border: none;
}

.react-datepicker__header {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__month-container * {
  color: var(--chakra-colors-shade-900);
}

.react-datepicker__current-month {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.625rem;
  color: var(--chakra-colors-black);
  font-size: var(--chakra-fontSizes-lg);
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__week:not(:last-child) {
  margin-bottom: 12px;
}

.react-datepicker__day-names {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.react-datepicker__day-name {
  width: 100%;
  height: 2.5rem;
  margin: 0;
  font-weight: 600;
}

.react-datepicker__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0;
  border-radius: 999px;
  border: 1px solid rgba(100, 115, 255, 0.3);
  background: var(--chakra-colors-shade-100);
}

.react-datepicker__day:hover {
  border-radius: 50px;
  background: var(--chakra-colors-shade-200);
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  background: var(--chakra-colors-primary-main);
  color: var(--chakra-colors-white);
}

.react-datepicker__day--disabled,
.react-datepicker__day--outside-month {
  color: var(--chakra-colors-shade-500);
  background: transparent;
  border: none;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--selected:focus-visible {
  outline: none;
}

.react-datepicker-wrapper {
  display: none;
}

.react-datepicker__navigation {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--chakra-colors-primary-main);
}

.react-datepicker__navigation:hover {
  background-color: var(--chakra-colors-primary-50);
}

.react-datepicker__navigation-icon {
  line-height: 1;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--chakra-colors-primary-main);
  border-width: 2px 2px 0 0;
}

.react-datepicker__navigation:hover *::before {
  border-color: var(--chakra-colors-primary-main);
}
